@model GOT.Models.Path

<h1>Dodaj trasę</h1>
<hr />

<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="PathName" class="control-label"></label>
                    <input asp-for="PathName" class="form-control" />
                    <span asp-validation-for="PathName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CheckpointAId" class="control-label"></label>
                    <select asp-for="CheckpointAId" class="form-control" asp-items="ViewBag.CheckpointId"></select>
                </div>

            </div>
            <div class="col-sm-4 d-flex align-items-center justify-content-between">
                <p class="text-center mr-4" style="font-size: 32px"><i class="bi-arrow-right"></i></p>
                <p class="text-center mr-4" style="font-size: 32px"><i class="bi-arrow-right"></i></p>
                <p class="text-center" style="font-size: 32px"><i class="bi-arrow-right"></i></p>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CheckpointBId" class="control-label"></label>
                    <select asp-for="CheckpointBId" class="form-control" asp-items="ViewBag.CheckpointId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="ElevationAB" class="control-label"></label>
                    <input asp-for="ElevationAB" class="form-control" />
                    <span asp-validation-for="ElevationAB" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="DistanceAB" class="control-label"></label>
                    <input asp-for="DistanceAB" class="form-control" />
                    <span asp-validation-for="DistanceAB" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label asp-for="ElevationBA" class="control-label"></label>
                    <input asp-for="ElevationBA" class="form-control" />
                    <span asp-validation-for="ElevationBA" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label asp-for="DistanceBA" class="control-label"></label>
                    <input asp-for="DistanceBA" class="form-control" />
                    <span asp-validation-for="DistanceBA" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a href="#" onclick="handleReturnClick()">Back to List</a>
</div>

<div id="go-back-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Opuścić stronę?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Masz niezatwierdzone zmiany.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="returnToIndex()">Opuść stronę</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zostań na stronie</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function handleReturnClick() {
            $('#go-back-modal').modal();
        }

        function returnToIndex() {
            location.href = '@Url.Action("Index", "Path")';
        }
    </script>
}
